@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #0c5d69;
    label {
        display: block;
        margin-bottom: 10px;
        color: #0c5d69;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #0c5d39;
        border-radius: 4px;
        font-size: 16px;
    }

    input[type="submit"] {
        background-color: #0c5d69;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        input[type="submit"]:hover {
            background-color: #0c5d99;
        }

    .form-footer {
        margin-top: 15px;
        text-align: center;
    }

        .form-footer a {
            color: #0c5d69;
            text-decoration: none;
        }

            .form-footer a:hover {
                text-decoration: underline;
            }

    .remember-me {
        margin-bottom: 15px;
        color: #0c5d69;
    }
</style>

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6 card p-3">
        <h2 color="blue" class="d-flex align-items-center justify-content-center">@ViewData["Title"]</h2>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control"  aria-required="true" placeholder="Your Name" />
                <label asp-for="Input.Name">Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.SapId" class="form-control" aria-required="true" placeholder="Your HCL SAP ID" />
                <label asp-for="Input.SapId">SAP ID</label>
                <span asp-validation-for="Input.SapId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="Your Mobile Number" />
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Location" class="form-control" aria-required="true" placeholder="Your Location" />
                <label asp-for="Input.Location">Location</label>
                <span asp-validation-for="Input.Location" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <input id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" />
        </form>
    </div>
    <!--
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
