@model LivDocApp.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    <img src="@Url.Content(Model.DocImgURL)" alt="Profile Pic" style="max-width: 100px; max-height: 100px;" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoctorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
